    img{

        max-width: 200px;
        margin: auto auto auto;
        float:left;

    }

    p{
        text-align: justify;
    }


@media screen and (max-width:800px){

  p{
    bottom: 3em;
  }
}



